<main class="page-content">
  <div class="wrapper">
    <%= render partial: 'shared/flash' %>
    <h1>Sign In:</h1>
    <p>
      <span class="create-acct">Don't have an account? </span>
      <%= link_to 'Create One', new_user_path, {class: 'create-link'} %>
    </p>
    <div class="form-element">
      <%= form_tag sessions_path, class: 'new-form user-form sign-in-form' do %>
        <ul class="form-ul">
          <li class="form-li li-user">
            <%= label_tag :username, 'Username:' %>
            <%= text_field_tag :username, nil, {class: 'input-field form-user'} %>
          </li>

          <li class="form-li li-password">
            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, nil, {class: 'input-field form-password'} %>
          </li>

          <li class="form-li li-submit">
            <%= submit_tag 'Sign In' %>
          </li>
          
        </ul>
        <p style="margin-top: 20px;">
          <span class="create-acct">Forgot your password? </span>
          <%= link_to 'Reset Password', new_password_reset_path, {class: 'create-link'} %>
        </p>
      <% end %>
    </div>
    
    <div class="oauth-login">
      <h4>OR...</h4>
      <button id="facebook" class="loginBtn loginBtn--facebook" onclick="javascript:document.location='/auth/facebook/'">
        Login with Facebook
      </button>
    </div>
    
  </div>
</main>