<li class="comment">
  <div class="comment-vote">
    <% if current_user %>
      <% if 1 == 1 %>
        <%= up_vote_links("Comment", 1, :put) %>
        <div id="vote-Comment-count-<%= 1 %>" class="comment-vote-count"><%= 0 %></div>
        <%= down_vote_links("Comment", 1, :put) %>
      <% else %>
        <%= up_vote_links("Comment", 1, :post) %>
        <div id="vote-Comment-count-<%= 0 %>" class="comment-vote-count"><%= 0 %></div>
        <%= down_vote_links("Comment", 1, :post) %>
      <% end %>
    <% else %>
      <%= link_to("", nil, id: "vote-button-up-nil", class: "comment-vote-top") %>
      <div id="vote-count-<%= 0 %>" class="comment-vote-count"><%= 0  %></div>
      <%= link_to("", nil , id: "vote-button-down-nil", class: "comment-vote-bottom") %> 
    <% end %>
  </div>
  <div class="comment-content">
    <p class="author"><strong><%= comment.user.username %></strong></p>
    <%= comment.body.html_safe %>
    <% if current_user %>
      <a class="create-link" href="javascript:void(0)" id="link-collapse-<%= comment.id %>" onclick="collapseReplyDiv('collapse-<%= comment.id %>')" style="font-size: 12px;">Reply</a>
        <div class="form-comment" id="form-collapse-<%= comment.id %>" style="display: none">
          <%= form_for :comment, url: comments_path, html: {class: 'new-form' } do |form| %>
              <p class="form-p">
                <%= form.label :body, 'Enter comment:' %>
                <%= form.cktext_area :body, class: 'textarea-field', id: "comment_#{comment.id}", ckeditor: { uiColor: '#ffe6bd', toolbar: 'mini', height: 100, width: 400 } %>
              </p>

              <%= form.hidden_field :commentable_type, value: "Comment" %>
              <%= form.hidden_field :commentable_id, value: comment.id %>
              <%= form.hidden_field :parent_article, value: @article.id %>

              <p class="form-p">
                <%= form.submit 'Reply', class: 'comment-reply' %>
                <a class="create-link" id="" onclick="revCollapseReplyDiv('collapse-<%= comment.id %>')" style="font-size: 12px;">Back</a>
              </p>
          <% end %>
        </div>
    <% end %>
  </div>
  <% unless comment.comments.empty? %>
    <ul class="comment-nested-list">
      <%= render :partial => 'comments/comment', :collection => comment.comments.all %>
    </ul>
  <% end %>
</li>