<% if articles.any? %>
  <% articles.each_with_index do |article, article_num| %>
    <div class="page-article" id="article-content-<%= article_num + 1 %>">
      <p class="article-title">
        <span class="article-id"><%= article_num + 1 %>. </span>
      </p>


      <%= render 'shared/profileimg', user: article.user, class_name: "article-img" %>

      <div class="article-contain">
        <p>
          <%= article.title %>

          <% if article.user %>
            <span class="article-user">by <%= link_to article.user.username, user_path(article.user) %></span>
          <% end %>

          <%= link_to 'Show', article_path(article), {class: 'article-link'} %> 

          <% if article.parent_is?(current_user) %>
            / <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: "article-link" %>
          <% end %>
        </p>

        <p class="article-body">
          <%= preview_body(article.body) %>
        </p>
      </div>

      <div class="article-vote">
        <%= render 'shared/vote', type: "Article", voteable: article %>
      </div>

    </div>
  <% end %>
<% else %>
  <div class="page-article">
    <p class="article-title" style="width: 100%">Nothing found...</p>
  </div>
<% end %>