<main class="page-content">
  <div class="wrapper">
    <div class="page-headline">
      <p id="home-headline">View most recent posts:</p>
    </div>
    <% if @articles.any? %>
      <% @articles.each_with_index do |article, article_num| %>
        <div class="page-article">
          <p class="article-title">
            <span class="article-id"><%= article_num + 1 %>. </span>
          </p>
          
          
          <% if article.user.profile_img.attached? %>
            <img src='<%= url_for(article.user.profile_img) %>' class='article-img'/>
          <% else %>
            <img src="/assets/no-profile-img.jpg" class='article-img'/>
          <% end %>

          <div class="article-contain">
            <p>
              <%= article.title %>

              <% if article.user %>
                <span class="article-user">by <%= article.user.username %></span>
              <% end %>

              <%= link_to 'Show', article_path(article), {class: 'article-link'} %> 

              <% if article.parent_is?(current_user) %>
                / <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: "article-link" %>
              <% end %>
            </p>

            <p class="article-body">
              <%= preview_body(article.body) %>
            </p>
          </div>
          
          <div class="article-vote">
            <% if current_user %>
              <% if article.votes.where(user: current_user).any? %>
                <%= up_vote_links("Article", article.id, :put) %>
                <div id="vote-Article-count-<%= article.id %>" class="article-vote-count"><%= article.votes.sum(:value) %></div>
                <%= down_vote_links("Article", article.id, :put) %>
              <% else %>
                <%= up_vote_links("Article", article.id, :post) %>
                <div id="vote-Article-count-<%= article.id %>" class="article-vote-count"><%= article.votes.sum(:value) %></div>
                <%= down_vote_links("Article", article.id, :post) %>
              <% end %>
            <% else %>
              <%= link_to("", nil, id: "vote-button-up-nil", class: "article-vote-top") %>
              <div id="vote-count-<%= article.id %>" class="article-vote-count"><%= article.votes.sum(:value)  %></div>
              <%= link_to("", nil , id: "vote-button-down-nil", class: "article-vote-bottom") %> 
            <% end %>
          </div>
          
          <script type="text/javascript">
            $('#vote-Article-button-up-<%= article.id %>').bind('ajax:success', function(evt, data, status, xhr) {
              changeVoteCount(evt, data, status,xhr, "Article");
            });
            
            $('#vote-Article-button-down-<%=article.id %>').bind('ajax:success', function(evt, data, status, xhr) {
              changeVoteCount(evt, data, status, xhr, "Article");
            });
          </script>
          
        </div>
      <% end %>
    <% else %>
      <div class="page-article">
        <p class="article-title" style="width: 100%">Nothing found...</p>
      </div>
    <% end %>
  </div>
</main>
