<main class="page-content">
  <div class="wrapper">
    <div class="page-headline">
      <p id="home-headline">View most recent posts:</p>
    </div>
    <% if @articles.any? %>
      <% @articles.each_with_index do |article, article_num| %>
        <div class="page-article">
          <p class="article-title">
            <span class="article-id"><%= article_num + 1 %>. </span>
          </p>
          
          
          <% if article.user.profile_img.attached? %>
            <img src='<%= url_for(article.user.profile_img) %>' class='article-img'/>
          <% else %>
            <img src="/assets/no-profile-img.jpg" class='article-img'/>
          <% end %>

          <div class="article-contain">
            <p>
              <%= article.title %>

              <% if article.user %>
                <span class="article-user">by <%= article.user.username %></span>
              <% end %>

              <%= link_to 'Show', article_path(article), {class: 'article-link'} %> 

              <% if article.parent_is?(current_user) %>
                / <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'}, class: "article-link" %>
              <% end %>
            </p>

            <p class="article-body">
              <%= preview_body(article.body) %>
            </p>
          </div>
          
          <div class="article-vote">
            <% current_count = Vote.where(article_id: article.id).sum(:value) %>
            <% if current_user %>
              <% if Vote.where(article_id: article.id, user_id: current_user.id).first %>
                <%= link_to("", votes_path(article_id: article.id, value: 1), method: :put, remote: true, id: "vote-button-up-#{article.id}", class: "article-vote-top") %>
                <div id="vote-count-<%= article.id %>" class="article-vote-count"><%= current_count %></div>
                <%= link_to("", votes_path(article_id: article.id, value: -1), method: :put, remote: true, id: "vote-button-down-#{article.id}", class: "article-vote-bottom") %>
              <% else %>
                <%= link_to("", votes_path(article_id: article.id, value: 1), method: :post, remote: true, id: "vote-button-up-#{article.id}", class: "article-vote-top") %>
                <div id="vote-count-<%= article.id %>" class="article-vote-count"><%= current_count  %></div>
                <%= link_to("", votes_path(article_id: article.id, value: -1), method: :post, remote: true, id: "vote-button-down-#{article.id}", class: "article-vote-bottom") %>
              <% end %>
            <% else %>
              <%= link_to("", nil , class: "article-vote-top") %>
              <div id="vote-count-<%= article.id %>" class="article-vote-count"><%= current_count  %></div>
              <%= link_to("", nil , class: "article-vote-bottom") %> 
            <% end %>
          </div>
          
          <script type="text/javascript">
            $('#vote-button-up-<%= article.id %>').bind('ajax:success', function(evt, data, status, xhr) {
              //console.log(data);
              response = evt['detail'][0];
              console.log(response);
              //console.log(status);
              //console.log(xhr);
              element = $("#vote-count-" + response['id']);
              if (response['path_up'] && response['path_down']) {
                $('#vote-button-up-' + response['id']).attr({
                  'href': response['path_up'],
                  'data-method': 'put'
                });
                  
                $('#vote-button-down-' + response['id']).attr({
                  'href': response['path_down'],
                  'data-method': 'put'
                });
              }
              element.html(response['vote']);
            });
            
            $('#vote-button-down-<%=article.id %>').bind('ajax:success', function(evt, data, status, xhr) {
              response = evt['detail'][0];
              console.log(response);
              //console.log(status);
              //console.log(xhr);
              element = $("#vote-count-" + response['id']);
              if (response['path_up'] && response['path_down']) {
                $('#vote-button-up-' + response['id']).attr({
                  'href': response['path_up'],
                  'data-method': 'put'
                });
                  
                $('#vote-button-down-' + response['id']).attr({
                  'href': response['path_down'],
                  'data-method': 'put'
                });
              }
              element.html(response['vote']);
            });
          </script>
          
        </div>
      <% end %>
    <% else %>
      <div class="page-article">
        <p class="article-title" style="width: 100%">Nothing found...</p>
      </div>
    <% end %>
  </div>
</main>
