<main class="page-content">
  <div class="wrapper">
    <h1>Create New Post:</h1>
    <div class="form-element">
      <%= form_for @article, url: {action: 'create'}, html: {class: 'new-form', multipart: true} do |form| %>

        <% if @article.errors.any? %>
          <div class="form-error">
            <h4>
              <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
            </h4>
            <% @article.errors.full_messages.each do |msg| %>
              <p class="form-errors">
                <%= msg %>
              </p>
            <% end %>
          </div>
        <% end %>

        <p class="form-p">
          <%= form.label :title, 'Title:' %>
          <%= form.text_field :title, class: 'input-field' %>
        </p>

        <p class="form-p">
          <%= form.label :body, 'Content:' %>
          <%= form.cktext_area :body, class: 'textarea-field', ckeditor: { uiColor: '#ffc4c4'} %>
          <!-- 
  @source https://cdn.ckeditor.com/#ckeditor5
  -->
          <script type="text/javascript">
            createFormattingToolBar();
          </script> 
        </p>
      
        <p class="form-p">
          <%= form.check_box :location, {}, 1, nil %>
          <%= form.label :location, 'Add Current Location to Article', class: "checkbox", style: "display: inline;" %>
          
        </p>

        <p class="form-p">
          <%= form.label 'Upload picture:' %>
          <%= form.file_field :content_img %>
        </p>

        <p class="form-p">
          <%= form.submit 'Create' %>
        </p>
      <% end %>
    </div>
  </div>
</main>

