<% if current_user %>
  <% if voteable_has_user_vote?(voteable) %>
    <%= up_vote_links(type, voteable.id, :put) %>
    <div class="vote-<%= type %>-count-<%= voteable.id %> <%= type.downcase %>-vote-count"><%= total_votes(voteable) %></div>
    <%= down_vote_links(type, voteable.id , :put) %>
  <% else %>
    <%= up_vote_links(type, voteable.id , :post) %>
    <div class="vote-<%= type %>-count-<%= voteable.id %> <%= type.downcase %>-vote-count"><%= total_votes(voteable) %></div>
    <%= down_vote_links(type, voteable.id , :post) %>
  <% end %>
<% else %>
  <%= link_to("", nil, class: "vote-#{type.downcase}-up-nil-#{voteable.id} #{type.downcase}-vote-top") %>
  <div class="vote-count-<%= voteable.id %> <%= type.downcase %>-vote-count"><%= total_votes(voteable)  %></div>
  <%= link_to("", nil , class: "vote-#{type.downcase}-down-nil-#{voteable.id} #{type.downcase}-vote-bottom") %> 
<% end %>