<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet"> 
    
    <!-- 
        @source https://cdn.ckeditor.com/#ckeditor5
    -->
    
    <script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
